
    
    <div class="text-center">
      <span class="display-2">
        Time-Table
      </span>
    </div>
<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="offset-md-4 col-md-5">
     <h4>Select class</h4>
     <mat-form-field>
       <mat-label>Classes</mat-label>
       <mat-select>
         <mat-option *ngFor="let class of classes" [value]="class.value" >
             {{class.value}}
         </mat-option>
       </mat-select>
     </mat-form-field>
    </div>
</div>
<!-- <div *ngFor="let day of days"> -->
  <div class="mat-elevation-z8" >
          
    <table mat-table [dataSource] = "dataSource" class="table-bordered">
   
      <ng-container matColumnDef = "day">
         <th mat-header-cell *matHeaderCellDef > Day</th>
         <td mat-cell *matCellDef = "let element"> {{element.day}} </td>
      </ng-container>
      <ng-container matColumnDef = "period1">
         <th mat-header-cell *matHeaderCellDef > Period 1</th>
         <td mat-cell *matCellDef = "let element"> {{element.period1}} </td>
      </ng-container>
      <ng-container matColumnDef = "period2">
         <th mat-header-cell *matHeaderCellDef > Period 2</th>
         <td mat-cell *matCellDef = "let element"> {{element.period2}} </td>
      </ng-container>
      <ng-container matColumnDef = "period3">
         <th mat-header-cell *matHeaderCellDef > Period 3</th>
         <td mat-cell *matCellDef = "let element"> {{element.period3}} </td>
      </ng-container>
      <ng-container matColumnDef = "period4">
         <th mat-header-cell *matHeaderCellDef > Period 4</th>
         <td mat-cell *matCellDef = "let element"> {{element.period4}} </td>
      </ng-container>
      <ng-container matColumnDef = "Lunch">
         <th mat-header-cell *matHeaderCellDef >Lunch</th>
         <td mat-cell *matCellDef = "let element">  </td>
      </ng-container>
      <ng-container matColumnDef = "period5">
        <th mat-header-cell *matHeaderCellDef > Day</th>
        <td mat-cell *matCellDef = "let element"> {{element.period5}} </td>
     </ng-container>
      <ng-container matColumnDef = "period6">
         <th mat-header-cell *matHeaderCellDef > Day</th>
         <td mat-cell *matCellDef = "let element"> {{element.period6}} </td>
      </ng-container>
      <ng-container matColumnDef = "period7">
         <th mat-header-cell *matHeaderCellDef > Day</th>
         <td mat-cell *matCellDef = "let element"> {{element.period7}} </td>
      </ng-container>
      <ng-container matColumnDef = "period8">
         <th mat-header-cell *matHeaderCellDef > Day</th>
         <td mat-cell *matCellDef = "let element"> {{element.period8}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="actions">
        <th  mat-header-cell *matHeaderCellDef>Change</th>
        <!-- <mat-cell *matCellDef="let row" >
             <button mat-button >Edit</button>
        </mat-cell> -->
        <td mat-cell *matCellDef = "let element">   
        
          <button mat-stroked-button color="primary"  >Edit</button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
      <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
      



     


   </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>

   </div>
  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{day.dayv}}
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </mat-expansion-panel>
    
  </mat-accordion> -->
