@font-face {
    font-family: 'IRS';
    src: URL('../../assets/Olde English Regular.ttf') format('truetype');
    }
    table {
        width: 100%;
      }
      .mat-header-cell {    text-align: center;    }
      .mat-form-field {
        font-size: 14px;
        width: 70%;
      }
      td{    text-align: center;    }
   