<!-- <div style="background-color: black;font-size: x-large;" class="text-center" >  
    <span class="text-light" style="font-size: xxx-large;font-family:IRS;">
      The Indian <span class="text-danger">Revolutionary</span> School</span>
    </div> -->
<!-- <div class="container-fluid">
   <div class="row">
    <div class="col-md-5 offset-md-5">
        <h4>Select Exam</h4>
        <mat-form-field>
          <mat-label>Select Exam</mat-label>
          <mat-select>
            <mat-option *ngFor="let exam of exams" [value]="exam.value" width="100">
              {{exam.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       </div>
   </div>
</div>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </mat-expansion-panel>
    
  </mat-accordion> -->
  <div class="container-fluid" >
    <div class="row mt-5">
      <div class="col-md-3 offset-md-2">
       <h4>Select class</h4>
       <mat-form-field>
         <mat-label>Classes</mat-label>
         <mat-select>
           <mat-option *ngFor="let class of classes" id="Class" [value]="class.value"  #matOption (click)="option(matOption)">
               {{class.value}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div>
      <div class="col-md-3 col-md-1">
       <h4>Select Section</h4>
       <mat-form-field>
         <mat-label>Select Section</mat-label>
         <mat-select>
           <mat-option *ngFor="let sec of sections" [value]="sec"  width="100" id="Section" #matOption (click)="option(matOption)">
             {{sec}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div>
      <div class="col-md-3">
       <h4>Select Exam</h4>
       <mat-form-field>
         <mat-label>Select Exam</mat-label>
         <mat-select>
           <mat-option *ngFor="let exam of exams" [value]="exam.value" id="Exam"  width="100" #matOption (click)="option(matOption)">
             {{exam.value}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div>
      <!-- <div class="col-md-4">
       <h4>Select Exam</h4>
       <mat-form-field>
         <mat-label>Select Exam</mat-label>
         <mat-select>
           <mat-option *ngFor="let exam of exams" [value]="exam.value">
             {{exam.value}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div> -->

   </div>
    <div class="row" *ngIf="hide">
      <div class="col-md-12">
        <mat-card class="mt-3">
            <div class="card-header text-center bg-dark text-light " style="font-size: 25px;">Update Results</div>
            <div class="card-body">
                <table class="table-hover  table-striped table-inverse ">
                    <thead>
                        <tr >
                            <th style="width: 100px;" >Roll no.</th>
                            <th style="width: 150px;">Student Name</th>
                            <th *ngFor="let i of marksheet" style="width: 100px;">{{i.sub}}</th>
                        </tr>
                    </thead>
                   <tbody>
                    <tr *ngFor="let i of marksheet" class="text-center">
                        <td>{{i.rollno}}</td>
                        <td>{{i.name}}</td>
                        <td><input type="text" style="width: 25%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                        <td><input type="text" style="width: 30%;"></td>
                       
                     
                      
                    </tr>
                   </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <button mat-raised-button color="primary" style="width: 300px; height: 40px;">Update Marks</button>
                <!-- <mat-button class="btn btn-primary">Update Marks</mat-button> -->
            </div>
        </mat-card>
      </div>
    </div>
</div>