.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}
.material-icons{
  float:left;
}
.td{
  float:left;
margin-left: 240px;
}
@font-face {
  font-family: 'IRS';
  src: URL('../../assets/Olde\ English\ Regular.ttf') format('truetype');
}