/* .container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
} */
.carousel-inner img {

  height: 50%;
}
@font-face {
font-family: 'IRS';
src: URL('../../assets/Olde English Regular.ttf') format('truetype');
}
  
