


<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" style="background-color: black;">
            <!-- <img src="../../assets/IRS1.jpg" alt="School" width="980" height="737"> -->
            <div class="news-logo" style="position:absolute; top:5%; left: 5%;  right:5%; z-index:0;" align="center">
           <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2500">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/IRS1.jpg" alt="IRS1"  style="height: 700px;">
    </div>
    <div class="carousel-item">
      <img src="../../assets/IRS5.png" alt="IRS2" width="1100" height="700" style="height: 700px;">
    </div>
    <div class="carousel-item">
      <img src="../../assets/IRS4.png" alt="IRS3" width="1100" height="500" style="height: 700px;">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
               
            </div>
            
        </div>
        
        <div class="col-md-4">


            <div class="ml-3 mr-4 mt-3">
                <div class="text-center">
                    <div style="background-color: darkblue;">
                        <span class="text-light" style="font-size: xx-large;font-family:IRS;">The Indian <span class="text-danger">Revolutionary</span> School</span>
                       </div>
                    <div style="padding-bottom:15px; padding-top:10px;">

                        <img src="../../assets/logo.jpg" style="width:50%; ">
                    </div>
                </div>


                <!-- <button mat-button >Show snack-bar</button> -->
               <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
                <div class="form-group">
                    <!-- <input autocomplete="off" type="text" class="form-control" name="username" required="" placeholder="User ID/ Roll Number"> -->
                    <mat-form-field class="example-full-width btn-block">
                        <mat-label>User ID/ Employee ID</mat-label>
                        <input name="data" type="text" id="username" placeholder="Username" aria-label="Number" matInput class="form-control" formControlName="userName" id="usrName"
                            [matAutocomplete]="auto"  #data>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.display}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <!-- <mat-error>
                              Please enter a valid email address
                            </mat-error> -->
                        <!-- <mat-error >
                              Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
                    <span class="text-danger" *ngIf="!loginForm.controls.userName.valid && loginForm.controls.userName.dirty">Field required</span>

                </div>
                <div class="form-group">
                    <!-- <input autocomplete="off" type="password" class="form-control" name="password" required="" placeholder="Password"> -->
                    <mat-form-field class="example-full-width btn-block ">
                        <mat-label>Password</mat-label>
                        <input name="password" id="pass" matInput placeholder="Password" type="password" class="form-control" formControlName="pass" id="pass" #pass>
                        <span class="text-danger" *ngIf="!loginForm.controls.pass.valid && loginForm.controls.pass.dirty">Field required</span>
              
                    </mat-form-field>
                </div>

                <div class="mt-4">
                    <!-- <button type="submit" class="btn btn-primary btn-block">Sign me in</button> -->
                    <button mat-raised-button color="primary" class="btn-block"  (click)="openSnackBar('Welcome to The Indian Revolutionary School Portal.', 'Dismiss')">Sign me in</button>
               <!-- {{password.value}} -->
                </div>
               </form>
               <div class="class text-danger mt-2 text-center">{{errorMessage}}</div>
                <div class="mt-4">
                    <mat-hint class="mr-1">Forgot Password / New User / Teacher Login</mat-hint>
                    <!-- <span ></span> -->
                    <a href="https://erp.psit.in/Erp/ForgetPassword" class="text-success">Click Here</a> .
                    <div class="text-center mt-3">
                        <a href="https://play.google.com/store/apps/developer?id=Singhster&hl=en_IN">   <img src="https://erp.psit.in/assets/img/play-store.jpg" width="350px"></a>
                     
                    </div>

            
                </div>
            </div>


        </div>
    </div>
</div>
