


<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <img src="https://erp.psit.in/assets/img/bg-14.jpg" alt="School" width="980" height="737">
            <div class="news-logo" style="position:absolute; top:5%; left: 5%;  right:5%; z-index:1;" align="center">
                <img src="http://erp.psit.in/assets/img/infosys2.png" style="width:90%;">
            </div>
            
        </div>

        <div class="col-md-4">


            <div class="ml-3 mr-4 mt-5">
                <div class="text-center">
                    <div style="padding-bottom:15px; padding-top:10px;">

                        <img src="https://erp.psit.in/assets/img/psit.png" style="width:50%; ">
                    </div>
                </div>


                <!-- <button mat-button >Show snack-bar</button> -->
               <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
                <div class="form-group">
                    <!-- <input autocomplete="off" type="text" class="form-control" name="username" required="" placeholder="User ID/ Roll Number"> -->
                    <mat-form-field class="example-full-width btn-block">
                        <mat-label>User ID/ Roll Number</mat-label>
                        <input name="data" type="text" id="username" placeholder="Username" aria-label="Number" matInput class="form-control" formControlName="userName" id="usrName"
                            [matAutocomplete]="auto"  #data>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.display}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <!-- <mat-error>
                              Please enter a valid email address
                            </mat-error> -->
                        <!-- <mat-error >
                              Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
                    <span class="text-danger" *ngIf="!loginForm.controls.userName.valid && loginForm.controls.userName.dirty">Field required</span>

                </div>
                <div class="form-group">
                    <!-- <input autocomplete="off" type="password" class="form-control" name="password" required="" placeholder="Password"> -->
                    <mat-form-field class="example-full-width btn-block ">
                        <mat-label>Password</mat-label>
                        <input name="password" id="pass" matInput placeholder="Password" type="password" class="form-control" formControlName="pass" id="pass" #pass>
                        <span class="text-danger" *ngIf="!loginForm.controls.pass.valid && loginForm.controls.pass.dirty">Field required</span>
              
                    </mat-form-field>
                </div>

                <div class="mt-4">
                    <!-- <button type="submit" class="btn btn-primary btn-block">Sign me in</button> -->
                    <button mat-raised-button color="primary" class="btn-block"  (click)="openSnackBar('Welcome to PSIT  Portal.', 'Dismiss')">Sign me in</button>
               <!-- {{password.value}} -->
                </div>
               </form>
               <div class="class text-danger font-weight-bold mt-2 text-center">{{errorMessage}}</div>
                <div class="mt-4">
                    <mat-hint class="mr-1">Forgot Password / New User / Parent Login</mat-hint>
                    <!-- <span ></span> -->
                    <a href="https://erp.psit.in/Erp/ForgetPassword" class="text-success">Click Here</a> .
                    <div class="mt-3">
                        <a href="https://play.google.com/store/apps/developer?id=Singhster&hl=en_IN">   <img src="https://erp.psit.in/assets/img/play-store.jpg" width="100%"></a>
                     
                    </div>

            
                </div>
            </div>


        </div>
    </div>
</div>
