<div class="container-fluid" id="contentToConvert" >
    
    <div class="row">
       <!-- <div class="col-md-2 offset-md-1">
        <img src="../../assets/logo.jpg" width="98"  alt="Logo">
       </div> -->
       <!-- table-striped table-inverse -->
       <!-- table-responsive -->
       <!-- table   table-bordered -->
   <div class="col-md-10 offset-md-1">
    <table class=" table-hover  table-striped table-inverse " >
        <thead class="thead-inverse">
            <tr>
                <th colspan="4"><img src="../../assets/logo.jpg" width="98"  alt="Logo"></th>
            <th colspan="11"><h1 class="s1">The Indian <span class="s">Revolution</span> School</h1></th>
           
         </tr>
         <tr>      <th colspan="4"> Gorakhpur(U. P)</th>
            <th colspan="11">        (Affiliated to the Central Board of Secondary Education (CBSE), New Delhi)</th>
         </tr>
                   
            
            </thead>
            <thead>
                <tr >
                    <th colspan="16">PROGRESS REPORT (2019 - 2020)</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                
                    <td colspan="2">NAME :</td>
                    <td colspan="2">VIDHI RAMRAIKA</td>
                    <td></td>
                    <!-- <td></td> -->
                    <td colspan="2">CLASS :</td>
                    <td colspan="2">VI</td>
                    <td></td>
                    <td colspan="2">ROLL NO. : </td>
                    <td colspan="2">57</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Father's  NAME :</td>
                    <td colspan="2">ROHIT RAMRAIKA</td>
                    <td></td>
                    <!-- <td></td> -->
                    <td colspan="2">SECTION : </td>
                    <td colspan="2">E</td>
                    <!-- <td colspan="2">VI</td> -->
                    <td></td>
                    <td colspan="2">D. O. B. : </td>
                    <td colspan="2">25/06/2008</td>
                    <td></td>
                </tr>
                <tr>
                  
                    <td colspan="2">Mother's NAME:</td>
                    <td colspan="2">Lakshmi RAMRAIKA</td>
                    <td></td>
                    <!-- <td></td> -->
                    <td colspan="2">ADM. No.</td>
                    <td colspan="2">2008</td>
                    <td></td>
                    <td colspan="2">Rank</td>
                    <td colspan="2">5</td>
                    <td></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="4" rowspan="4">SUBJECTS</th>
                    <th colspan="2">FIRST TERM</th>
                    <th colspan="2">SECOND TERM</th>
                    <th colspan="4">THIRD TERM</th>
                    <th colspan="3">AGGREGATE</th>
                </tr>
                <tr>
                    <th rowspan="2">MAX.
                        MARK</th>
                    <th rowspan="2">MARK
                        OBT.</th>
               
                    <th rowspan="2">MAX.
                        MARK</th>
                    <th rowspan="2">MAX
                        OBT.</th>
                        <!-- <th rowspan="1" colspan="2">ASSIGNMENT /
                            COPY/PRACTICAL</th> -->
                        <th>MAX.
                            MARK</th>
                        <th>MARK
                            OBT</th>
                        <th>MAX.
                            MARK</th>
                        <th>MARK
                            OBT</th>
                  <th>TOTAL</th>
                  <th>MAX.
                    MARK</th>
                    <th>MARK
                        OBT.</th>
                </tr>
            </thead>
            <tbody>
           <tr *ngFor="let item of marksheet">
            <td colspan="4">{{item.sub}}</td>
            <td>{{item.m1}}</td>
            <td>{{item.m2}}</td>
            <td>{{item.m3}}</td>
            <td>{{item.m4}}</td>
            <td>{{item.m5}}</td>
            <td>{{item.m6}}</td>
            <td>{{item.m7}}</td>
            <td>{{item.m8}}</td>
            <td>{{item.m9}}</td>
            <td>{{item.m10}}</td>
            <td>{{item.m11}}</td>
 
          
            
           </tr>
         
                 
                 
                 
                 
              
                   
                 
            </tbody>
            <tbody>
                <tr>
                    <td  colspan="4">
                        Total
                    </td>
                    <td>1250 </td>
                    <td> 1036.00 </td>
                    <td> 1250</td>
                    <td>1128.00</td>
                    <td> 240</td>
                    <td> 215.00 </td>
                    <td> 1010 </td>
                    <td>852.00</td>
                    <td> 1067.00</td>
                    <td> 3750 </td>
                    <td>  3231.00</td>
                    
                   
                    
                    
                    
                     
                     
                      
                      
                       
                      
                </tr>
                <tr>
                    <td colspan="4">Percentage</td>
                    <td></td>
                    <td>82.88 </td>
                    <td></td>
                    <td>90.24 </td>
                    <td></td>
                    <td>89.58 </td>
                    <td></td>
                    <td>84.36 </td>
                    <td>85.36 </td>
                    <td></td>
                    <td>86.16</td>
                </tr>
                <tr>
                    <td colspan="4">
                        Attendance
                    </td>
                    <td colspan="2">54 / 58</td>
                    <td colspan="2">71 / 75</td>
                    <td colspan="5">51 / 60</td>
                    <td colspan="2">176 / 193</td>
                </tr>
            </tbody>
            <thead>
                <th colspan="15" style="height: 50px;">
                    NON - ACADEMIC PERFORMANCE
                </th>
            </thead>
            <thead>
                <tr>
                    <th colspan="4">GRADE SUBJECTS</th>
                <th>I TERM</th>
                <th>I TERM</th>
                <th>I TERM</th>
                <th colspan="6">PERSONAL AND SOCIAL QUALITIES</th>
                <th>II TERM </th>
                <th>III TERM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" style="height: 50px;">MORAL SCIENCE/CATECHISM</td>
               <td>A</td>
               <td>A</td>
               <td>A</td>
                <td colspan="6">CONDUCT</td>
                <td>A</td>
                <td>A</td>
                </tr>
                <tr style="height: 50px;">
                    <td colspan="4" >SUPW </td>
               <td>A</td>
               <td>A</td>
               <td>A</td>
                <td colspan="6">DISCIPLINE </td>
                <td>A</td>
                <td>A</td>
                </tr>
            </tbody>
            <thead>
                <tr >
                    <th colspan="7">
                        Remarks
                    </th>
                    <th colspan="8">
                       Result
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 100px;">
                    <td class="text-primary" colspan="8">VERY GOOD</td>
                    <td class="text-success" colspan="8">Passed & Promoted</td>
                </tr>
               
            </tbody>
            <thead>
                <tr>
                    <th colspan="5">
                        Class Teacher
                    </th>
                    <th colspan="5">
                        School Seal
                    </th>
                    <th colspan="5">
                        Principal
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 100px;">
                    <td colspan="5"  >Srishti Tekriwal</td>
                <td colspan="5">TIRS</td>
                <td colspan="5">Principal</td>
                </tr>
             
            </tbody>
    </table>
    <!-- <div class="border1"></div> -->
 
   </div>
    </div>
</div>
<!-- <div class="text-center">
    <button class="btn btn-success btn-block mt-5"  onclick="window.print()" >Download Result</button>
</div> -->